@charset "UTF-8";

body {
    color: #000000;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 14pt;
    background-repeat: no-repeat;
    background-image: url(img/bkg.JPG);   
	background-size: cover; 

    }


#container {
	width: 868px;
	height:auto;
	background-color: #FFFFFF;
	margin: auto;
	
}
/*Float aside so ir displays next to main*/
aside {
    width: 150px;
    height: 1900px;
    float: left;
    background-color: #FF888A;
}

header {
    width: 768px;
    height: 250px;
    background-image: url(img/attemptfive.png);   
	background-repeat: no-repeat;
    background-position: center;
	margin: 50px 0px 0px 0px;
}

/*float the main so it shows up next to the aside. Reduce width  by 150 pc so they line with header.*/

p {
font-family: apparat,sans-serif;
font-weight: 400;
font-style: normal;
}

main {
    width: 658px;
    height: 1800px;
    float: left;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
	background-color: #FFFFFF
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.floatLeft {
	
	float: left;
}

article {
    margin-top: 50px;
    margin-bottom: 30px;
	font-family: "my font";
}


/*Clear the float so the footer shows up in the right place again.*/
footer {
    width: 868px;
    height: 50px;
    clear: both;
	background-color: #FF888A;
}

h1 {
    color: #872022;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-family: flower-power,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30pt;
    padding-left: 0px;
}

h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
nav {
    width: 768px;
    height: 50px;
}
#container nav li {
    display: block;
    list-style-type: none;
    margin-right: 80px;
    float: left;
    width: 60px;
    font-family: acier-bat-noir, sans-serif;
    font-size: 18pt
}
#container nav ul {
    display: block;
    list-style-type: none;
    margin-top: auto;
    margin-right: auto;
    margin-left: 77px;
    margin-bottom: auto;
    float: left;
    width: 700px;
    font-family: acier-bat-noir, sans-serif;
    font-size: 18pt
}


nav a:link {
    color: #CA6581;
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color: #6B191A;
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
	background-color: #CA6581;
	padding: 10px;
	
}
nav a:active {
    text-decoration: none;
    color: #BF8C8C;
}.submit_btn {
    width: 160px;
    height: 30px;
    border-radius: 10px;
    background-color: #CB6783;
    color: #FFFFFF;
    font-size: 16px;
   
}



.submit_btn:hover {
	
 -webkit-box-shadow: 6px 6px 39px 5px #6E6E6E;
    box-shadow: 6px 6px 39px 5px #6E6E6E;	
	
}
